.body{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    border: double;
    border-color: black;
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
}
.home{
    height: 880px;
    position: relative;
}
.usericon{   
    top: 20px;
    left: 10px;
    position: absolute;
}
.message{
    top: 20px;
    right: 10px;
    position: absolute;
}
.avatar{
    top: 180px;
    left: 100px;
    width: 400px;
    height: 450px;
    position: absolute;
}
.kiroku{
    top: 180px;
    right: 10px;
    width: 200px;
    height: 400px;
    position: absolute;
}