.pagetop{
    display: flex;
    justify-content:center;
    background-color: red;
    height:70px;
    border:double;
    position:relative;
}
.center-box{
    text-align: center;
    height:50px;
    color:white;
}
.right-box{
    right:0;
    padding: 10px 10px;
    text-decoration: none;
    color:white;
    position:absolute;
    
}
